header {
    height: 300px;
    background-image: url('../kepek/erdohatter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Georgia, serif;
    color: #f4ebd0;
    font-weight: 700;
}

.nav-custom {
    background-color: #4a2c11 !important;
